<a href="https://colab.research.google.com/github/parasajahnavi/Python_file/blob/main/Python_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Basics of Python Day-1

#syntax for print
print('Name')

#print a value by using variable
name='Janu'
print(name)

Name
Janu

In [ ]:
#Data Types in Python

''' we have different categories of Data types in python
1- Numeric Type
integer,float, complex'''

#interger
name='vijji'
age=20
percentage =89.9
print(age,type(age))# this prints the value of age
print(name,type(name))
print(percentage,type(percentage))# type says the which type it is(age,percentage,name)

20 <class 'int'>
vijji <class 'str'>
89.9 <class 'float'>

In [2]:
'''SEQUENCE Type
we have different types in sequence type and it stores multiple values at the same time'''
'''1.List[] 2.Tuple 3.Range
Ex:variable=['string',int,float]'''

student=['Janu',24,89.9]
print(student)

['Janu', 24, 89.9]